body{

    background-image: url("../img/programing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}
.container0{
    display: flex;

}

.conatainer1{
    display: flex;    
    width: 57%;
    justify-content: end;    
    height: max-content;
    color: brown;
    margin: 1px;
    
}

ul{
    border: 2px black solid;
    padding: 10px;
background-color: rgba(255, 0, 0, 0.454);
}

li{
    border: black 1px solid;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
li:hover{
transition: 0.5s ease;
font-size: 20px;
background-color: rgb(0, 245, 253);
color: black;
cursor: pointer;

}
h1{
    text-align: center;
    color: rgb(255, 0, 0);
    text-decoration: underline coral;
}

#container2{
    display: none;
    
}

.pm{
    width: 250px;
    height: 156px;
    overflow: auto;
    color: aqua;
    border: 3px solid blue;
    background-color: black;
    padding: 50px;
    
}
#containerthis{
    padding-top: 19.4px;


}